body {
    width: 100%;
    box-sizing: border-box;
    --colorOne: pink;
    --colorTwo: blue;
    --colorThree: orange;
    --colorFour: white;
    --colorFive: red;
    --colorSix: brown;
}

#flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.grid-container {
    display: inline-grid;
    margin: 0 25px;
    width: 150px;
    height: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.bubble {
    background-color: maroon;
    border: 2px solid blue;
    border-radius: 50px;
    margin: 3px;
}

#d-one-one {
    background-color: var(--colorOne);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#d-one-two {
    background-color: var(--colorTwo);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#d-one-three {
    background-color: var(--colorThree);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#d-one-four {
    background-color: var(--colorFour);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#d-one-five {
    background-color: var(--colorFive);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#d-two-one {
    background-color: var(--colorSix);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#d-two-five {
    background-color: var(--colorSix);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#d-three-two {
    background-color: var(--colorThree);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#d-three-three {
    background-color: var(--colorTwo);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#d-three-four {
    background-color: var(--colorOne);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#i-one-one {
    background-color: var(--colorThree);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#i-one-five {
    background-color: var(--colorOne);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#i-two-one {
    background-color: var(--colorOne);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#i-two-two {
    background-color: var(--colorTwo);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#i-two-three {
    background-color: var(--colorFour);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#i-two-four {
    background-color: var(--colorFive);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#i-two-five {
    background-color: var(--colorSix);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#i-three-one {
    background-color: var(--colorSix);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#i-three-five {
    background-color: var(--colorThree);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#e-one-one {
    background-color: var(--colorTwo);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#e-one-two {
    background-color: var(--colorOne);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#e-one-three {
    background-color: var(--colorFour);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#e-one-four {
    background-color: var(--colorThree);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#e-one-five {
    background-color: var(--colorSix);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#e-two-one {
    background-color: var(--colorFive);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#e-two-three {
    background-color: var(--colorSix);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#e-two-five {
    background-color: var(--colorTwo);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#e-three-one {
    background-color: var(--colorThree);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#e-three-three {
    background-color: var(--colorFour);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#e-three-five {
    background-color: var(--colorOne);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#g-one-two {
    background-color: var(--colorThree);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#g-one-three {
    background-color: var(--colorFive);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#g-one-four {
    background-color: var(--colorOne);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#g-two-one {
    background-color: var(--colorTwo);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#g-two-five {
    background-color: var(--colorSix);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#g-three-one {
    background-color: var(--colorOne);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#g-three-four {
    background-color: var(--colorTwo);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#g-three-five {
    background-color: var(--colorThree);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#o-one-two {
    background-color: var(--colorFour);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#o-one-three {
    background-color: var(--colorTwo);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#o-one-four {
    background-color: var(--colorOne);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#o-two-one {
    background-color: var(--colorThree);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#o-two-five {
    background-color: var(--colorThree);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#o-three-two {
    background-color: var(--colorTwo);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#o-three-three {
    background-color: var(--colorFive);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#o-three-four {
    background-color: var(--colorSix);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}